.listName{
    margin-left: 30px;
}
img.listIcon{
    float: right;
    width: 20px;
    vertical-align: middle;
    cursor: pointer;
}

img.showIcon{
    transition: all .3s ease-out;
}
.hiddenList img.showIcon{
    transform: rotate(180deg);
}

div.listContainer{
    z-index: 10000;
    position: fixed;
    right: 0%;
    top: 45%;
    width: 40%;
    border-radius: 10px;
    background-color: rgb(198, 232, 252);
}
div.videoStatu{
    top: 20%;
    width: 31%;
}
div.list{
    border: 1px solid;
    border-radius: 10px;
    margin: 2px;
}
div.part{
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
}
span.partText{
    margin-left: 5%;
}

div.readyDel:hover{
    background-color: red;
}

.hiddenList *.part{
    display: none;
}
.newText{
    margin-left: 10px;
    width: 60%;
}
.newText:focus{
    background-color: rgb(180, 228, 199);
}
.containerTitle{
    margin-left: 35%;
    font-size: 15px;
}
