
.bili-mini-mask,
.bili-feed4-layout{
    display: none !important;
}

*[class="bili-header large-header"],
*[class="bili-header__bar"]{
    min-height: 100% !important;
}

.center-search-container{
    position: fixed !important;
    width: 40%;
    top: 35%;
    left: 30%;
} 

